<% content_for :css do %>
    <%= stylesheet_link_tag 'mypage' %>
<% end %>

<div class="mypage-contents">
    <h1>マイページ</h1>
    <span></span>
    <h2><%= @user.name %></h2>
    <div class="circle-btn">
        <span class="new-post" >
            <%= link_to  new_post_path, data: {"turbolinks" => false} do %>
                <i class="fa-regular fa-comment"></i>
                <p>新規投稿</p>
            <% end %>
        </span>
        <span class="user-prof-image" >
            <%= image_tag @user.get_profile_image %>
        </span>
        <span class="prof-edit" >
            <%= link_to edit_user_path(current_user), data: {"turbolinks" => false} do %>
                <i class="fa-solid fa-gear"></i>
                <p>プロフィール編集</p>
            <% end %>
        </span>
    </div>
        <p class="introduction"><%= @user.introduction %></p>
    <div class="select-btn">
        <%= link_to  user_path(current_user) do %>
            <span><i class="fa-regular fa-newspaper"></i></span>
            <p class="about-icon">ポスト一覧</p>
        <% end %>
        <%# いいね一覧のPATHに変更 %>
        <%= link_to favorites_path do %>
            <span><i class="fa-solid fa-heart"></i></span>
            <p class="about-icon">いいね一覧</p>
        <% end %>
        <%# フォローフォロワー一覧のページPATHに変更 %>
        <%= link_to user_follows_path(current_user), data: {"turbolinks" => false} do %>
            <span><i class="fa-solid fa-users"></i></span>
            <p class="about-icon">フォロー</br>フォロワー</p>
        <% end %>
    </div>

    <%= link_to "退会", unsubscribe_path(@user), class: "unsubscribe-btn" %>
</div>