
<div class="container">
    <div class="user-show-user">
        <h2><%= @user.name %></h2>
        <%= image_tag @user.get_profile_image(150,150) %>
        <div class="about-user-count">
            <%= @posts.count %>投稿
            <%# フォローしてる人数 %>
            <p>フォロー中</p>
            <%# フォローワー人数 %>
            <p>フォロワー</p>
            <% if @user.introduction.present?%>
                <%= @user.introduction %>
            <% end %>
        </div>
    </div>
    <div class="user-posts-index">
        <h1>投稿したポスト</h1>
        <% if @posts.present? %>
            <% @posts.each do |post| %>
                <%= link_to post_path(post) do %>
                    <div class="user-name">
                        <%= image_tag @user.get_profile_image(100, 100) %>
                        <%= @user.name %>
                    </div>
                    <div class="post-item">
                        <% if post.image.present? %>
                            <%= image_tag post.image, :size => '542x230' %>
                        <% end %>
                        <%= post.spot_type.type_name %>
                        <%= post.caption %>
                        <%= post.location %>
                    </div>
                <% end %>
            <% end %>
            <%= paginate @posts %>
        <% else %>
            <h4>投稿がありません。</h4>
        <% end %>
    </div>
</div>