<% content_for :css do %>
    <%= stylesheet_link_tag 'posts_index' %>
<% end %>

<div class="container">
    <div class="searching-form">
        <h1>けんさく</h1>
        <%= form_with url: search_posts_path, local: false, method: :get do |f| %>
            <%= f.text_field :keyword, placeholder: "地域の投稿を検索する", class: "input-text"%>
            <%= f.submit "検索", class: "search-submit" %>
        <% end %>
    </div>

    <h1>みんなの投稿</h1>
    <div id="post-lists">
        <% @posts.each do |post| %>
            <div class="post-content">
                <%= link_to user_path(post.user_id) do %>
                <div class="post-head">
                    <div class="user-name">
                        <%= image_tag post.user.get_profile_image(100, 100) %>
                        <span><%= post.user.name %></span>
                    </div>
                <% end %>
                    <div id="favorite-btn-<%= post.id %>", class: "favorite-btn" >
                        <% if false %>
                        <% if post.user != current_user %>
                            <div id="follow-btn-<%= post.user_id%>" class="follow-btn">
                            <%= render "follows/follow", user: post.user %>
                            </div>
                        <% end %>
                        <% end %>
                        <%= render "favorites/favorite", post: post %>
                    </div>
                </div>
                <%= link_to post_path(post) do %>
                    <div class="post-item">
                        <% if post.image.present? %>
                            <%= image_tag post.image, :size => '542x230' %>
                        <% end %>
                        <div class="post-detail">
                            <span class="post-spot-type"><%= post.spot_type.type_name %></span></br>
                            <span class="post-caption"><h5>説明: </h5><%= post.caption %></span></br>
                            <span class="post-location"><h5>この施設の所在地: </h5><%= post.location %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <%= paginate @posts %>
</div>