<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bbc1209199.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@200&family=PT+Serif&family=Train+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo">App Logo</div>
      <% if user_signed_in? %>
        <button id="mobile-menu__btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <%# デスクトップ用メニュー %>

        <nav class="desktop-nav">
          <li>
            <%= link_to posts_path do %>
              <i class="fa-solid fa-house"></i>
            <% end %>
          </li>
          <li>
            <%= link_to favorites_path do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          </li>
          <li>
            <%= link_to mypage_path do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, data: {"turbolinks" => false} do %>
              <i class="fa-solid fa-square-plus"></i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>
            <% end %>
          </li>

        <%# モバイル用メニュー %>
        <nav id="mobile-menu">
          <ul class="mobile-menu__main">
            <li class="mobile-menu__item">
              <span><%= link_to "みんなのポスト一覧", posts_path %></span>
            </li>
            <li class="mobile-menu__item">
              <span><%= link_to "いいねしたポスト", favorites_path %></span>
            </li>
            <li class="mobile-menu__item">
              <span><%= link_to "マイページ", mypage_path %></span>
            </li>
            <li class="mobile-menu__item">
              <span><%= link_to "新規投稿", new_post_path %></span>
            </li>
            <li class="mobile-menu__item">
              <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>
    <%= yield %>
    <%# <footer>
      <span>footerfooter...</span>
    </footer> %>
  </body>
  <script>

    const hamburgerBtn = document.getElementById('mobile-menu__btn');
    const mobileMenu = document.getElementById('mobile-menu');

    hamburgerBtn.addEventListener('click', ()=> {
      mobileMenu.classList.toggle('menu-open');
      // hamburgerBtn.classList.toggle('menu-open');

    });

//     class MobileMenu{
//     constructor(){
//         this.DOM = {};
//         this.DOM.btn = document.querySelector('.mobile-menu__btn');
//         this.DOM.container = document.querySelector('.mobile-menu');
//         this._addEvent();
//     }

//     _toggle(){
//         this.DOM.container.classList.toggle('menu-open');
//     }
//     _addEvent(){
//       this.DOM.btn.addEventListener('click',this._toggle.bind(this));
//     }
// }

// new MobileMenu();
  </script>
</html>
