<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bbc1209199.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@200&family=PT+Serif&family=Train+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo">App Logo</div>
      <nav id="sp-menu">
        <ul>
          <li>
            <span><%= link_to "みんなのポスト一覧", posts_path, data: {"turbolinks" => false} %></span>
          </li>
          <% if user_signed_in? %>
            <li>
              <span><%= link_to "いいねしたポスト", favorites_path, data: {"turbolinks" => false} %></span>
            </li>
          <% else %>
            <li>
              <span><%= link_to "いいねしたポスト", new_user_session_path %></span>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <span><%= link_to "マイページ", mypage_path, data: {"turbolinks" => false} %></span>
            </li>
          <% else %>
            <li>
              <span><%= link_to "マイページ", new_user_session_path %></span>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <span><%= link_to "新規投稿", new_post_path, data: {"turbolinks" => false} %></span>
            </li>
          <% else %>
            <li>
              <span><%= link_to "新規投稿", new_user_session_path %></span>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
            </li>
          <% else %>
            <li>
              <span><%= link_to "ログイン", new_user_session_path %></span>
            </li>
          <% end %>
        </ul>
      </nav>
      <div id="hm-icon">
        <a href="#" class="menu-trigger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header>
    <%= yield %>
    <%# <footer>
      <span>footerfooter...</span>
    </footer> %>
  </body>
</html>
