<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bbc1209199.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #F7CBE8" >
      <% if user_signed_in? %>
        <li>
          <%= link_to posts_path do %>
            <i class="fa-solid fa-house" style="color: #ffffff;" ></i>
            <% end %>
        </li>
        <li>
          <%= link_to new_post_path do %>
            <i class="fa-solid fa-square-plus" style="color: #ffffff;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;" ></i>
          <% end %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
