<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bbc1209199.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@200&family=PT+Serif&family=Train+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo">
          <h2>App logo</h2>
        </div>
        <% if user_signed_in? %>
        <div class="nav-icon">
          <li>
            <%= link_to posts_path do %>
              <i class="fa-solid fa-house"></i>
              <% end %>
          </li>
          <li>
            <%= link_to favorites_path do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          </li>
          <li>
            <%= link_to mypage_path do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, data: {"turbolinks" => false} do %>
              <i class="fa-solid fa-square-plus"></i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>
            <% end %>
          </li>
        </div>
        <% end %>
      </header>
      <%= yield %>
    </div>
    <%# <footer>
      <span>footerfooter...</span>
    </footer> %>
  </body>
</html>
